.mutation-amount-text {
  font-size: large;
}

.transaction-title {
  font-size: larger;
  font-weight: 500;
  text-transform: capitalize;
}

.transaction-subtitle {
  font-size: medium;
  font-style: italic;
}
